<script id="error" type="text/x-handlebars-template">
    <div class="error d-flex justify-content-center">
        <div class="error card card-dk">
            {{{ error }}}
        </div>
    </div>
</script>
        
