<script id="transactions" type="text/x-handlebars-template">
    <div class="transactions card card-dk">
        <h5 class="card-title">Transactions</h5>
        <pre>{{transactions}}</pre>
    </div>
</script>
        
